body {
  display: grid;
  place-items: center;
  background-color: #ecf0f1;
}

.generate-notify .form-group {
    margin-bottom: 1rem;
    
}

.text-center{
    text-align: center;
}

.generate-notify .form-group h5 {
    margin-bottom: 0.5rem;
}

.generate-notify .form-group .form-control {
    width: 100%;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    min-height: 40px;
    padding: .5rem;
}

#clickMe{
    cursor: pointer;
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
}